// Place all the styles related to the Cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cat-home {
	font-family: 'Monly-Light';
	background-color: #fdd835;
	height: 100vh;
}

.avatar-cat {
	border-radius: 50%;
}

.background-color2 {
	background-color: #ffb300;
}

input[type='file'] {
	margin: 0 auto;
}
