// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'Monly-Light';
	src: font-url('fonts/Monly-Light.otf') format('truetype');
}

.check {
	background-color: #ffb300;
}

.check2 {
	background-color: #fdd835;
}

// welcome

.welcome {
	font-family: 'Monly-Light';
	background-color: #ffb300;
	height: 100vh;
}

#navbar-transparenttest {
	background: transparent;
	border: none;
}

.house-of-bastet-a {
	max-width: 100%;
	max-height: 100%;
}

.welcome-image {
	margin: auto;
	width: 50%;
	height: 50%;
	padding-top: 10em;
}

#button-nav {
	border: none;
}

// sign up and login

.sign-up {
	margin-top: 0;
}

.sign-text {
	color: #fdd835;
	font-size: 1.5em;
	margin-top: 1em;
}

.sign-text2 {
	color: #fdd835;
	font-size: 1.5em;
}

.welcome-image-sign-up {
	margin: auto;
	width: 30%;
	height: 30%;
	padding-top: 4em;
}

.background-form {
	background-color: #fdd835;
	width: 15em;
	height: 2.5em;
}

.sign-button {
	background-color: transparent;
}

// usershow

.form-user-form {
	padding-top: 4em;
}

.userdata-form-text {
	color: #fdd835;
	font-size: 0.7em;
}

.userdata-form {
	width: 8em;
}

.userdata-form-short {
	width: 4em;
}

.background-color {
	background-color: #fdd835;
}

.text-form-user {
	font-size: 1.5em;
	color: #fdd835;
}
