<h1>cats</h1>

<div>
	<% current_user.cats.each do |cat| %>
		<p><%= link_to(cat.name, cat_path(cat.id)) %></p> 
	<% end %>
</div>
<div>
	<button><%= link_to("Add Cat", new_cat_path) %></button>
</div>
<div>
	<button><%= link_to("Back", root_path) %></button>
</div>

